@import url(https://db.onlinewebfonts.com/c/076abc8ba1bb38a0713dec3b63b880e4?family=Trip+Sans);


* {
    font-family: "Trip Sans", sans-serif;
}

:root{
    --main-background: #E1E1E1;
    --block-background: #F8F8F8;
    --main-text: #000000;
    --accent-colour: #293652;
    --accent-hover: #576a94;
    --hover: #e8ebf1;
    --greyed-text:#7D7D7D;

    --BudgieGreen1: #8EE5A2;
    --BudgieGreen2: #B4E5A2;
    --BudgieGreen3: #71C194;
    --BudgieBlue: #293652;
    --BudgieWhite: #F8F8F8;

    --font-size-multiplier: 1;
}

body {
    font-size: calc(1rem * var(--font-size-multiplier));
}

:root[data-theme='light'] {
    --main-background: #E1E1E1;
    --block-background: #F8F8F8;
    --main-text: #000000;
    --accent-colour: #293652;
    --accent-hover: #576a94;
    --hover: #e8ebf1;
    --greyed-text:#7D7D7D;
}

:root[data-theme='dark']{
    --main-background: #1C2436;
    --block-background: #293652;
    --main-text: #FFFFFF;
    --accent-colour: #E8EFFF;
    --accent-hover: #c8d1e6;
    --hover: rgb(52, 67, 100);
    --greyed-text:#ececec;
}

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400&display=swap');

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    cursor: pointer;
}

.mainPage {
    background-color: var(--main-background);
    width: 85vw;
    height: 100vh;
    padding-left: calc(1.5rem * var(--font-size-multiplier));
    padding-right: 1.5rem;
    padding-top: 1rem;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.pageTitle{
    color: var(--accent-colour);
    font-weight: 900;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    font-size: calc(1.5rem * var(--font-size-multiplier));
}