@import url(https://db.onlinewebfonts.com/c/076abc8ba1bb38a0713dec3b63b880e4?family=Trip+Sans);

* {
  font-family: 'Trip Sans', sans-serif;
}

:root {
  --main-background: #e1e1e1;
  --block-background: #f8f8f8;
  --main-text: #000000;
  --accent-colour: #293652;
  --accent-hover: #576a94;
  --hover: #e8ebf1;
  --greyed-text: #7d7d7d;

  --BudgieGreen1: #8ee5a2;
  --BudgieGreen2: #b4e5a2;
  --BudgieGreen3: #71c194;
  --BudgieBlue: #293652;
  --BudgieWhite: #f8f8f8;

  --font-size-multiplier: 1;
  --primary-1: #07456f;
  --primary-2: #83a2b7;
  --blue: #07456f;
  --yellow: #d49d02;
  --pink: #960446;
  --purple: #3f058d;
  --orange: #b04700;
  --green: #005438;
  --blue-h: #83a2b7;
  --yellow-h: #e9ce80;
  --pink-h: #ca81a2;
  --purple-h: #9f82c6;
  --orange-h: #d7a37f;
  --green-h: #7fa99b;
}

body {
  font-size: calc(1rem * var(--font-size-multiplier));
  color: var(--main-text);
}

:root[data-theme='light'] {
  --main-background: #e1e1e1;
  --block-background: #f8f8f8;
  --main-text: #000000;
  --secondary-text: white;
  --accent-colour: #293652;
  --accent-hover: #576a94;
  --hover: #e8ebf1;
  --greyed-text: #7d7d7d;

  --blue: #07456f;
  --yellow: #d49d02;
  --pink: #960446;
  --purple: #3f058d;
  --orange: #b04700;
  --green: #005438;
  --blue-h: #83a2b7;
  --yellow-h: #e9ce80;
  --pink-h: #ca81a2;
  --purple-h: #9f82c6;
  --orange-h: #d7a37f;
  --green-h: #7fa99b;
}

:root[data-theme='dark'] {
  --main-background: #1c2436;
  --block-background: #293652;
  --main-text: #ffffff;
  --secondary-text: black;
  --accent-colour: #e8efff;
  --accent-hover: #c8d1e6;
  --hover: rgb(52, 67, 100);
  --greyed-text: #ececec;

  --blue: #1d9bf0;
  --yellow: #f0b202;
  --pink: #f91880;
  --purple: #7856ff;
  --orange: #ff7a00;
  --green: #00ba7c;
  --blue-h: #a9d9f9;
  --yellow-h: #fedb7a;
  --pink-h: #fc80b8;
  --purple-h: #b8a7ff;
  --orange-h: #ffb36d;
  --green-h: #b3ffe6;
}

:root[colour-theme='light-blue'] {
  --primary-1: #07456f;
  --primary-2: #83a2b7;
  --secondary-text: white;
}

:root[colour-theme='light-yellow'] {
  --primary-1: #d49d02;
  --primary-2: #e9ce80;
}

:root[colour-theme='light-pink'] {
  --primary-1: #960446;
  --primary-2: #ca81a2;
}

:root[colour-theme='light-purple'] {
  --primary-1: #3f058d;
  --primary-2: #9f82c6;
}

:root[colour-theme='light-orange'] {
  --primary-1: #b04700;
  --primary-2: #d7a37f;
}

:root[colour-theme='light-green'] {
  --primary-1: #005438;
  --primary-2: #7fa99b;
}

:root[colour-theme='dark-blue'] {
  --primary-1: #1d9bf0;
  --primary-2: #a9d9f9;
}

:root[colour-theme='dark-yellow'] {
  --primary-1: #f0b202;
  --primary-2: #fedb7a;
}

:root[colour-theme='dark-pink'] {
  --primary-1: #f91880;
  --primary-2: #fc80b8;
}

:root[colour-theme='dark-purple'] {
  --primary-1: #7856ff;
  --primary-2: #b8a7ff;
}

:root[colour-theme='dark-orange'] {
  --primary-1: #ff7a00;
  --primary-2: #ffb36d;
}

:root[colour-theme='dark-green'] {
  --primary-1: #00ba7c;
  --primary-2: #b3ffe6;
}

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400&display=swap');

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  cursor: pointer;
}

.mainPage {
  background-color: var(--main-background);
  width: 85vw;
  height: 100vh;
  padding-left: calc(1.5rem * var(--font-size-multiplier));
  padding-right: 1.5rem;
  padding-top: 1rem;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.pageTitle {
  color: var(--primary-1);
  font-weight: 900;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-size: calc(1.5rem * var(--font-size-multiplier));
}
