# See http://help.github.com/ignore-files/ for more about ignoring files.

#misc
apps/budgie-app/.env.local

#firebaseemulatorsuite
firebase-debug.log
firestore-debug.log
ui-debug.log

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.env.local
.nx/cache

# Next.js
.next
out

storybook-static