@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'TripSans';
    font-weight: 400;
    src: url('../public/fonts/TripSans-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'TripSans';
    font-weight: 500;
    src: url('../public/fonts/TripSans-Medium.woff2') format('woff2');
  }
  @font-face {
    font-family: 'TripSans';
    font-weight: 700;
    src: url('../public/fonts/TripSans-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'TripSans';
    font-weight: 800;
    src: url('../public/fonts/TripSans-Ultra.woff2') format('woff2');
  }
}
